body{
    font-family: Arial, Helvetica, sans-serif;
}

td, th{
    border: 1px solid black;
    text-align: center;
    vertical-align: auto;
    padding: 5px;
}

table{
    width: 400px;
    border-collapse: collapse;
    position: relative;
}

tfoot, thead{
    background-color: #424141;
}

caption{
    background-color: rgb(196, 196, 196);
    font-weight: bold;
    font-size: 2em;
}

tbody > tr:nth-child(2n){
    background-color: rgb(151, 151, 151);
}
thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: #424141;
}