@charset "UTF-8";

div.quadrado{
    background-color: lightslategray;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 180px;
    height: 180px;
}

div#q1{
    background-color: skyblue;
}

div#q2{
    background-image: linear-gradient(to bottom,  orange, yellow);
}

div#q3{
    background-image: url("imagens/pattern001.png");
}